<div class="w-full py-1 flex px-8 lg:px-0 items-center justify-center sm:w-[600px] mx-auto">
  <div class="relative w-full mb-12">
    <!-- nameplate -->
    <div class="w-full flex">
      <img src="../../../assets/images/name-banner.svg"
        class="absolute -top-5 sm:-top-6 left-1/2 -translate-x-1/2 z-10 w-60 h-10 sm:h-12 sm:w-80" alt="name-banner">
      <span
        class="absolute -top-2.5 sm:-top-[15px] left-1/2 -translate-x-1/2 z-10 flex items-center justify-between w-60 sm:w-80 text-yellow-400 overflow-hidden">
        <span class="text-xs md:text-base ml-4 sm:ml-5">◆</span>
        <span
          class="px-2 uppercase bg-gold-gradient bg-clip-text text-transparent font-semibold sm:text-lg text-sm font-vietnam overflow-hidden text-ellipsis whitespace-nowrap">
          Question 1</span>
        <span class="text-xs md:text-base mr-4 sm:mr-5">◆</span>
      </span>
    </div>

    <!-- Main Card -->
    <div
      class="border border-sm shadow-lg shadow-black  rounded-2xl border-gray-500 bg-black bg-opacity-5 w-full pt-6 sm:pt-8 pb-2 px-4 sm:px-6 h-60 ">

    </div>
  </div>
</div>
<!-- Progress Bar Container -->