<div class="w-full py-1 flex flex-col px-8 lg:px-0 items-center justify-center sm:w-[600px] mx-auto">
  <div class=" w-full h-56 sm:h-96 mb-12 relative flex items-center justify-center">
    <img src="../../../assets/images/question-image.png"
      class="w-[93%] m-auto h-[89%]  object-cover  rounded-lg sm:rounded-2xl" alt="Quiz Banner">

    <div class="absolute top-0 left-0 h-8 w-8 sm:h-14 sm:w-14">
      <img src="../../../assets/images/image-corner.svg" class="rotate-180" alt="" srcset="">
    </div>
    <div class="absolute bottom-0 right-0 h-8 w-8 sm:h-14 sm:w-14">
      <img src="../../../assets/images/image-corner.svg" alt="" srcset="">
    </div>

  </div>
  <div class="relative w-full mb-8">
    <!-- nameplate -->
    <div class="w-full flex text-gray-300">
      <img src="../../../assets/images/name-banner.svg"
        class="absolute -top-5 sm:-top-6 left-1/2 -translate-x-1/2 z-10 w-60 h-10 sm:h-12 sm:w-80" alt="name-banner">
      <span
        class="absolute -top-2.5 sm:-top-[15px] left-1/2 -translate-x-1/2 z-10 flex items-center justify-between w-60 sm:w-80  overflow-hidden">
        <span class="text-xs md:text-base ml-4 sm:ml-5">◆</span>
        <span
          class="px-2 uppercase font-semibold sm:text-lg text-sm font-vietnam overflow-hidden text-ellipsis whitespace-nowrap">
          Question 1</span>
        <span class="text-xs md:text-base mr-4 sm:mr-5">◆</span>
      </span>
    </div>

    <!-- Main Card -->
    <div
      class="border border-sm shadow-lg shadow-black  rounded-2xl border-gray-500 bg-[#111111] bg-opacity-5 w-full p-4 sm:p-5 pt-10 sm:pt-14 ">
      <div class="flex flex-col bg-peach-yellow bg-clip-text text-transparent   rounded-lg w-full ">
        <div
          class="text-sm sm:text-[16px]  bg-peach-yellow-gradient bg-clip-text text-transparent font-vietnam font-semibold mb-6 ">
          Singapore is known as the "Lion City." What is the origin of this name?</div>

        <div class="flex flex-col space-y-2 text-xs sm:text-sm text-white font-vietnam font-normal">


          <div tabindex="0"
            class="flex items-start outline-offset-2 outline-peach-yellow focus:outline-2 focus:outline rounded-lg p-2">
            <div class="font-bold pt-1 mr-2">A.</div>
            <div>t was named after a mythical lion seen by Sang Nila Utama. It was named after a mythical lion seen by
              Sang Nila Utama</div>
          </div>


          <div tabindex="2"
            class="flex items-start outline-offset-2 outline-peach-yellow focus:outline-2 focus:outline rounded-lg  p-2">
            <div class="font-bold mr-2">B.</div>
            <div>The island was once home to a large population of lions.</div>
          </div>


          <div tabindex="3"
            class="flex items-start outline-offset-2 outline-peach-yellow focus:outline-2 focus:outline rounded-lg  p-2">
            <div class="font-bold mr-2">C.</div>
            <div>It was named after the national football team’s mascot.</div>
          </div>

        </div>
      </div>
    </div>
  </div>