<ion-content>
  <div class="min-h-screen bg-[url('/assets/images/Homepage.svg')] bg-black bg-cover bg-center flex flex-col">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- Main Content -->
    <div class="w-full py-1 flex px-8 lg:px-0 items-center justify-center max-w-[600px] mx-auto">
      <!-- Main content column -->
      <div class="w-full">
        <div class="flex flex-col items-center max-w-3xl mx-auto">
          <!-- Hero Banner with  Logo -->
          <div class="relative w-full h-48 sm:h-64 md:h-72  mb-4 md:mb-6 flex justify-center">
            <img src="../../assets/images/hero.svg" alt="GO Banner" class="h-full object-contain">
          </div>
          <!-- Title and Price -->
          <div class="flex flex-row items-center justify-between w-full mb-8">
            <!-- Left Section -->
            <div class="flex flex-col text-white text-left">
              <div class="text-xl sm:text-3xl  leading-tight font-vietnam">
                <span>
                  <svg class="inline h-5 md:h-7" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_22414_10297)">
                      <path
                        d="M2.96498 14.5793C2.96498 14.5793 4.0712 16.2044 6.38973 17.5801C6.38973 17.5801 4.71055 3.38854 15.6515 0.923828C12.8484 11.2117 19.2171 14.113 21.5387 8.67775C25.4156 13.854 22.472 18.37 22.472 18.37C24.0617 18.599 25.397 16.8622 25.397 16.8622C25.409 17.0762 25.4156 17.2916 25.4156 17.5085C25.4157 23.813 20.3049 28.9238 14.0003 28.9238C7.69578 28.9238 2.58496 23.813 2.58496 17.5085C2.58496 16.4958 2.71752 15.5141 2.96498 14.5793Z"
                        fill="#FF6536" />
                      <path
                        d="M25.3968 16.8622C25.3968 16.8622 24.0614 18.599 22.4717 18.37C22.4717 18.37 25.4154 13.854 21.5384 8.67775C19.2169 14.113 12.8481 11.2117 15.6512 0.923828C15.0653 1.05584 14.5158 1.22171 14 1.417V28.9238C20.3045 28.9238 25.4154 23.813 25.4154 17.5085C25.4154 17.2915 25.4087 17.0762 25.3968 16.8622Z"
                        fill="#FF421D" />
                      <path
                        d="M8.99414 23.9166C8.99414 26.6815 11.2356 28.9229 14.0005 28.9229C16.7653 28.9229 19.0068 26.6815 19.0068 23.9166C19.0068 22.4367 18.3647 21.1068 17.3438 20.1903C15.4082 22.8199 12.6499 18.831 14.7995 15.918C14.7995 15.918 8.99414 16.6455 8.99414 23.9166Z"
                        fill="#FBBF00" />
                      <path
                        d="M19.0063 23.9166C19.0063 22.4367 18.3642 21.1068 17.3434 20.1903C15.4078 22.8199 12.6494 18.831 14.7991 15.918C14.7991 15.918 14.4837 15.9576 14 16.1102V28.9229C16.7649 28.9229 19.0063 26.6815 19.0063 23.9166Z"
                        fill="#FFA900" />
                    </g>
                    <defs>
                      <clipPath id="clip0_22414_10297">
                        <rect width="28" height="28" fill="white" transform="translate(0 0.923828)" />
                      </clipPath>
                    </defs>
                  </svg>
                  <svg class="inline h-5 md:h-7" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_22414_10297)">
                      <path
                        d="M2.96498 14.5793C2.96498 14.5793 4.0712 16.2044 6.38973 17.5801C6.38973 17.5801 4.71055 3.38854 15.6515 0.923828C12.8484 11.2117 19.2171 14.113 21.5387 8.67775C25.4156 13.854 22.472 18.37 22.472 18.37C24.0617 18.599 25.397 16.8622 25.397 16.8622C25.409 17.0762 25.4156 17.2916 25.4156 17.5085C25.4157 23.813 20.3049 28.9238 14.0003 28.9238C7.69578 28.9238 2.58496 23.813 2.58496 17.5085C2.58496 16.4958 2.71752 15.5141 2.96498 14.5793Z"
                        fill="#FF6536" />
                      <path
                        d="M25.3968 16.8622C25.3968 16.8622 24.0614 18.599 22.4717 18.37C22.4717 18.37 25.4154 13.854 21.5384 8.67775C19.2169 14.113 12.8481 11.2117 15.6512 0.923828C15.0653 1.05584 14.5158 1.22171 14 1.417V28.9238C20.3045 28.9238 25.4154 23.813 25.4154 17.5085C25.4154 17.2915 25.4087 17.0762 25.3968 16.8622Z"
                        fill="#FF421D" />
                      <path
                        d="M8.99414 23.9166C8.99414 26.6815 11.2356 28.9229 14.0005 28.9229C16.7653 28.9229 19.0068 26.6815 19.0068 23.9166C19.0068 22.4367 18.3647 21.1068 17.3438 20.1903C15.4082 22.8199 12.6499 18.831 14.7995 15.918C14.7995 15.918 8.99414 16.6455 8.99414 23.9166Z"
                        fill="#FBBF00" />
                      <path
                        d="M19.0063 23.9166C19.0063 22.4367 18.3642 21.1068 17.3434 20.1903C15.4078 22.8199 12.6494 18.831 14.7991 15.918C14.7991 15.918 14.4837 15.9576 14 16.1102V28.9229C16.7649 28.9229 19.0063 26.6815 19.0063 23.9166Z"
                        fill="#FFA900" />
                    </g>
                    <defs>
                      <clipPath id="clip0_22414_10297">
                        <rect width="28" height="28" fill="white" transform="translate(0 0.923828)" />
                      </clipPath>
                    </defs>
                  </svg>

                  Tridentity GO
                </span>
              </div>
              <div class="text-sm text-slate-400">Jun 15, 2025 - Aug 31, 2025</div>
            </div>

            <!-- Right Section -->
            <div class="flex flex-col items-end text-gold font-vietnam text-right">
              <div class="text-sm ">Golden Price worth</div>
              <div class="relative inline-block">
                <!-- Shadow layer -->
                <span
                  class="absolute inset-0 text-2xl sm:text-4xl font-bold text-[#DE9316] opacity-100 [text-shadow:2px_2px_0_#DE9316] sm:[text-shadow:3px_3px_0_#DE9316]">
                  $20,000
                </span>

                <!-- Gradient text layer -->
                <span class="relative text-2xl sm:text-4xl font-bold bg-gold-gradient bg-clip-text text-transparent">
                  $20,000
                </span>
              </div>





            </div>
          </div>
          <!-- User Card -->
          <div class="w-full">
            <div class="relative w-full mb-12">
              <!-- nameplate -->
              <div class="w-full flex">
                <img src="../../assets/images/name-banner.svg"
                  class="absolute -top-5 sm:-top-6 left-1/2 -translate-x-1/2 z-10 w-60 h-10 sm:h-12 sm:w-80"
                  alt="name-banner">
                <span
                  class="absolute -top-2.5 sm:-top-[15px] left-1/2 -translate-x-1/2 z-10 flex items-center justify-between w-60 sm:w-80 text-yellow-400 overflow-hidden">
                  <span class="text-xs md:text-base ml-4 sm:ml-5">◆</span>
                  <span
                    class="px-2 uppercase bg-gold-gradient bg-clip-text text-transparent font-semibold sm:text-lg text-sm font-vietnam overflow-hidden text-ellipsis whitespace-nowrap">
                    Brooklyn
                    Simmons</span>
                  <span class="text-xs md:text-base mr-4 sm:mr-5">◆</span>
                </span>
              </div>

              <!-- Main Card -->
              <div
                class="border border-sm shadow-lg shadow-black  rounded-2xl border-gray-500 bg-black bg-opacity-5 w-full pt-6 sm:pt-8 pb-2 px-4 sm:px-6">
                <!-- User ID -->
                <div class="text-center font-vietnam text-gray-500  text-xs sm:text-sm mb-6">
                  0xca625130b10cb7b9d
                </div>

                <!-- Stamps Collection Header -->
                <div class="flex justify-center items-center mb-2">
                  <div class="divider-horizontal-left mt-[2.5px]  flex-grow"></div>
                  <div class="px-4 mx-2 flex items-center font-vietnam">
                    <span class="text-white text-xs md:text-base -ml-7">◆</span>
                    <span class="text-white text-xs sm:text-sm md:text-base px-2">STAMPS
                      COLLECTION</span>
                    <span class="text-white text-xs md:text-base -mr-7">◆</span>
                  </div>
                  <div class="divider-horizontal-right flex-grow mt-[2.5px] "></div>
                </div>

                <!-- Stamps Counters -->
                <div class="flex justify-around items-center mb-6 text-xs sm:text-[16px] font-vietnam">
                  <div class="flex flex-col items-center space-y-2">
                    <div class="text-gray-400 ">Coupon</div>
                    <div class="bg-gold-gradient bg-clip-text text-transparent font-bold ">1</div>
                  </div>
                  <div class="divider-vertical"></div>
                  <div class="flex flex-col items-center space-y-2">
                    <div class="text-gray-400 ">Quiz</div>
                    <div class="bg-gold-gradient bg-clip-text text-transparent font-bold ">2</div>
                  </div>
                  <div class="divider-vertical"></div>
                  <div class="flex flex-col items-center space-y-2">
                    <div class="text-gray-400 ">Total</div>
                    <div class="bg-gold-gradient bg-clip-text text-transparent font-bold ">3</div>
                  </div>
                </div>

                <!-- Lucky Draw -->
                <div class="text-center text-[#53b76b] text-xs sm:text-sm mb-8 underline font-vietnam">
                  Luckly Draw: 3 Chances
                </div>

                <!-- Divider -->
                <div class="divider-horizontal-special w-full mb-4"></div>

                <!-- Leaderboard Links -->
                <div class="flex flex-row justify-between items-center space-x-4 py-1 font-poppins">
                  <button routerLink="/leaderboard"
                    class="flex items-center text-white text-xs sm:text-sm md:text-base">
                    <span class="mr-2 text-xs sm:text-sm">
                      <img src="../../assets/images/leaderboard-icon.svg" alt="">
                    </span> GO Leaderboard
                  </button>

                  <div class="block divider-vertical"></div>

                  <button routerLink="/leaderboard" class="flex items-center text-gold text-xs sm:text-sm md:text-base">
                    <span class="mr-2 text-xs sm:text-sm "><img src="../../assets/images/grand-leaderboard.svg"
                        alt=""></span> Grand Leaderboard
                  </button>
                </div>
              </div>
            </div>

            <!-- Progress Bar -->

            <div class="w-full relative  mb-4 flex items-center justify-center">
              <!-- Polygon + Coin + Black Bar -->
              <div class="-mr-3 relative z-40"> <!-- ← Polygon top -->
                <img src="../../assets/images/Polygon 1.svg" class="relative z-40" alt="Polygon">

                <!-- Coin Icon -->
                <div class="absolute top-1 left-0 z-40">
                  <img src="../../assets/images/coin.svg" alt="Trophy">
                </div>

                <!-- Black Bar BELOW polygon -->
                <div class="absolute top-2.5 -right-[3px] z-20">
                  <div class="h-7 my-auto w-3 bg-black opacity-45 rounded-r-lg"></div>
                </div>
              </div>

              <!-- Progress Bar -->
              <div class="relative bg-lime-gradient w-full shadow-inner h-7 z-10 rounded-lg p-[3px] overflow-hidden">
                <!-- Progress Background -->
                <div class="bg-emerald-dark w-full z-10 rounded-lg h-full"></div>

                <!-- Progress Fill -->
                <div
                  class="bg-pink-purple-gradient rounded-lg absolute ml-1 top-1 left-0 h-5 transition-all duration-700 ease-in-out"
                  [style.width.%]="progress"></div>

                <!-- Arrow Markers -->
                <div class="absolute -top-1 left-1/4 z-20">
                  <div class="w-4 h-4 bg-mint-gradient bg-clip-text text-transparent">▼</div>
                </div>
                <div class="absolute bottom-0.5 left-2/4 z-20">
                  <div class="w-4 h-4 bg-mint-gradient-t bg-clip-text text-transparent">▲</div>
                </div>
                <div class="absolute -top-1 left-3/4 z-20">
                  <div class="w-4 h-4 bg-mint-gradient bg-clip-text text-transparent">▼</div>
                </div>
              </div>
            </div>

            <div class="w-ful text-center mb-6">

              <span class="text-white  font-vietnam text-sm md:text-lg">Quiz Completed: 3</span>
            </div>
            <!-- Start Quiz Button -->
            <div class="mb-12 flex justify-center ">
              <button routerLink="/quiz"
                class="bg-[url('/assets/images/quizbutton.svg')] bg-cover bg-center bg-no-repeat  w-[291px] h-[68px] border-none p-0 hover:scale-110 transition-all duration-500"
                style="background-size: contain;">
              </button>
            </div>

          </div>

        </div>
      </div>


    </div>
    <!-- Footer -->
    <footer class="w-full pb-10">
      <div
        class="text-xs sm:text-sm text-slate-300 flex flex-row justify-around items-center px-6 space-y-0 font-poppoins">
        <button class="flex items-center">
          <span class="mr-2">♦</span> How to play?
        </button>
        <button class="flex items-center">
          <span class="mr-2">♦</span> Terms & Conditions
        </button>
      </div>
    </footer>
  </div>
</ion-content>